<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/application.html}"
>
<head>
  <title>Анализатор страниц</title>
</head>
<section layout:fragment="content">
  <div class="container-lg mt-5">
    <h1>Сайты</h1>
    <table class="table table-bordered table-hover mt-3">
      <thead>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
      </thead>
      <tbody>
      <tr th:each="url : ${urls}" th:object="${url}"
          th:with="urlCheck=${checks.get(url.getId())}">
        <td th:text="*{id}"></td>
        <td>
          <a th:text="*{name}" th:href="@{/urls/{id}(id=*{id})}"></a>
        </td>
        <td th:text="${urlCheck ? #temporals.format(urlCheck.getCreatedAt(), 'dd/MM/yyyy HH:mm') : ''}"></td>
        <td th:text="${urlCheck ? urlCheck.getStatusCode() : ''}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <nav>
      <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
          <a class="page-link" th:href="@{/urls(page=(${page < 2}) ? 1 : (${page - 1}))}">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{/urls(page=${page + 1})}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>